:root {
  --primary: #d81e5b;
  --secondary: #8a4efc;
  --light: #f9f9f9;
  --light-alt: #b0c4de;
  --dark: #0e1726;
  --dark-alt: #1c2538;
  --error: #e63946;
  --transition: 0.4s ease-in-out;
  --shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--dark-alt);
  color: var(--light);
  line-height: 1.8;
}

.App {
  padding: 32px;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
  color: var(--primary);
}

h4 {
  font-size: 18px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 12px;
}

.todo {
  position: relative;
  background-color: var(--dark);
  padding: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: var(--shadow);
}

.todo:hover {
  opacity: 0.9;
  transform: translateY(-4px);
}

.todo .checkbox {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: var(--dark-alt);
  border: 2px solid var(--light-alt);
  transition: var(--transition);
}

.todo.is-complete .checkbox {
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.todo .text {
  font-size: 22px;
  font-weight: 500;
}

.todo.is-complete .text {
  text-decoration: line-through;
  color: var(--light-alt);
}

.todo .delete-todo {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  color: var(--light);
  background-color: var(--error);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: transform var(--transition), background-color var(--transition);
}

.todo .delete-todo:hover {
  transform: translateY(-50%) scale(1.2);
  background-color: #e74c5e;
}

.addPopup {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 900;
  color: var(--light);
  background-image: radial-gradient(var(--primary) 30%, var(--secondary));
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: transform var(--transition), box-shadow var(--transition);
}

.addPopup:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  background-color: var(--light);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
  color: var(--dark);
}

@media (max-width: 768px) {
  .App {
    padding: 16px;
  }

  .todo .checkbox,
  .todo .text {
    font-size: 18px;
  }

  .addPopup {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}
